html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5ddd5;
    font-family: "微软雅黑", Arial, "Helvetica Neue", cursive;
    overflow: hidden;
    padding-top: 31px;
}

.panel-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../images/0fb37e47-7e0c-4ba1-abca-1c3254f2cad3.png") repeat repeat;
    opacity: .06;
    /*background-repeat:repeat-y;*/
    /*!*background-attachment:fixed*!*/
}

#photos{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto ;
}

#main {
    height: 100%;
    position: relative;
}

.photo {
    cursor: zoom-in;
}

.photo img, .preloader{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

#fullViewPhoto {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212121;
    z-index: 2;
    display: none;
}

.toolbar {
    width: 100%;
    z-index: 2;
    position: fixed;
    height: 50px;
    color: white;
    opacity: 0;
    -webkit-transition:opacity 0.618s ease;
    border-bottom: solid 1px rgba(0,0,0,0.3);
}

.toolbar:hover {
    opacity: 1;
}

.toolbar-background {
    -webkit-filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.toolbar-btn {
    width: 100px;
    height: 100%;
    padding: 10px 5px;
    color: #dddddd;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
}

.toolbar-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color:#eeeeee
}

.fill {
    height: 100%;
    width:100%;
    min-height: 100%;
    min-width: 100%;
 }

#preloader {
    position: relative;
    text-align: center;
    z-index: 3;
    display: block;
    margin-top: -20px;
}

#progress {
    position: absolute;
    bottom: 0;
    z-index: 3;
    display: none;
    margin: 0 !important
}
*::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
}

*::-webkit-scrollbar-track {
    background: rgba(255,255,255,.08);
}

.fa-rotate-45 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.key-text {
    display: inline-block;
    padding: 2px 5px;
    border: solid 1px white;
    border-radius: 3px;
}

.card .card-overly{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition:opacity 0.618s ease;
    cursor: zoom-in;
}

.card .card-overly:hover{
    opacity: 1;
    background-image: linear-gradient(180deg,rgba(0,0,0,.25) 0,transparent 40%,transparent 60%,rgba(0,0,0,.3));
}


.card .card-overly .side {
    position: absolute;
    height: 20%;
    width: 100%;
}

.card-overly-btn {
    color: #fff;
    cursor: pointer;
}

.card-overly .fa {
    padding: 10px 15px;
}

.card-overly a, .card-overly span {
    padding: 0 10px;
    color: #fff;
    vertical-align: middle;
}

ul.contributions > li {
    padding: 5px 0;
}

.credit {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
}